:root {
    --main-green: #01996D;
    --main-dark-green: #245852;
    --main-white: #fff;
    --main-gray: #292929;
    --main-black: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.main-container {
    width: 125rem;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.5rem
}

.navigation > a {
    text-decoration: none;
    font-weight: 700;
    font-size: 4rem;
    color: var(--main-green);
}

.navigation-links {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    list-style: none;
    margin-right: 3.5rem;
}

.nav-links-item a {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--main-gray);
    text-decoration: none;
}

.nav-links-item:not(:last-child) {
    margin-right: 6rem;
}

.nav-links-item:last-child {
    margin-left: 7rem;
}

.btn {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 5px;
    background-color: var(--main-green);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    cursor: pointer;
}

.btn-small {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.btn-large {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.layout {
    height: 110rem;
    background-size: cover;
    background-image: url(./img/woman.jpg);
    background-repeat: no-repeat;
}

.layout-content {
    padding-top: 30rem;
    width: 50rem;
}

.layout-title {
    font-weight: 700;
    font-size: 6.5rem;
    color: var(--main-green);
    margin-bottom: 3rem;
}

.layout-text {
    font-weight: 400;
    font-size: 2rem;
    color: var(--main-gray);
    margin-bottom: 5rem;
    line-height: 3.2rem;
}

.solutions {
    height: 150rem;
    display: flex;
    justify-content: center;
}

.solution-container {
    margin-top: 10rem;
    align-items: center;
}

.heading-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-caption {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.8rem;
}

.heading-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 7.8rem;
    color: var(--main-green);
}

.heading-description {
    margin-left: 7rem;
    padding-top: 4rem;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--main-gray);
    width: 90%;
}

.solutions-content {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.solutions-card {
    width: 39rem;
}

.card-number-2 {
    margin-top: 20rem
}

.card-number-3 {
    margin-top: 5rem;
}

.card-number {
    font-weight: 400;
    font-size: 15rem;
    line-height: 22.5rem;
    color: rgba(1, 153, 109, .2);
    position: relative;
}

.card-title {
    font-size: 2.8rem;
    line-height: 4.5rem;
    color: var(--main-black);
    position: absolute;
    left: 9.5rem;
    top: 13.3rem;
}

.card-description {
    font-size: 1.8rem;
    line-height: 3rem;
    color: var(--main-gray);
    margin-bottom: 6rem;
}

.solutions-img {
    width: 38rem;
    border-radius: 5px;
}


.community {
    height: 92rem;
    background-color: var(--main-dark-green);
    color: var(--main-white);
}

.community-container {
    padding-top: 31rem;
    width: 60rem;
}

.community-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 8rem;
}

.community-text {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 4rem;
    margin-top: 3.5rem;
    margin-bottom: 6rem;
}

.pricing {
    height: 93rem;
    padding-top: 12rem;
}


.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-img {
    width: 64rem;
    border-radius: 1rem;
    margin-right: 8.5rem;
}

.pricing-content {
    width: 58rem;
}

.pricing-header {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 4rem;
    color: var(--main-gray);
    margin-bottom: 2rem;
}

.pricing-title {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 6rem;
    color: var(--main-green);
    margin-bottom: 2rem;
}

.pricing-text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 4rem;
}

.block {
    display: block;
}

.footer {
    height: 65rem;
    background-color: var(--main-dark-green);
    padding: 9.5rem 27.5rem;
}

.footer .main-container a {
    color: var(--main-white);
    text-decoration: none;

}

.footer .main-container > a {
    font-weight: 900;
    font-size: 4rem;
}

.footer-links {
    list-style: none;
    font-size: 2.5rem;
    line-height: 3rem;
}

.footer-links-item {
    margin-top: 6rem;
}



